{{#generateModelDocs}}
{
  "models": {
    {{#modelPackage}}
      {{#models}}
        {{#model}}
          "{{classname}}": {
            {{#vars}}
            "{{name}}": {
              "primaryKey": {{#vendorExtensions.x-primary-key}}true{{/vendorExtensions.x-primary-key}}{{^vendorExtensions.x-primary-key}}false{{/vendorExtensions.x-primary-key}},
              "dataType": "{{{dataType}}}",
              {{^isPrimitiveType}}"complexType": "{{{complexType}}}",{{/isPrimitiveType}}
              "defaultValue": "{{{defaultValue}}}",
              "required": {{#required}}true{{/required}}{{^required}}false{{/required}}
            }{{^-last}}, {{/-last}}
            {{/vars}}
          }{{^-last}}, {{/-last}}
        {{/model}}
      {{/models}}
    {{/modelPackage}}
  }
}
{{/generateModelDocs}}
